--swiftversion 6.0
--indent 4
--indentcase false
--trimwhitespace always
--voidtype void
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--maxwidth 120
--self remove
--stripunusedargs closure-only
--header strip
--disable redundantReturn
